/* @import url(https://db.onlinewebfonts.com/c/629ed6829f706958b9bdf4f6300dfca0?family=Sharp+Grotesk+SmBold+20+Regular); */

body {
  color: white;
  background-color: #000;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  );
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
  pointer-events: none;
  /* Allow mouse events to pass through the overlay */
}

.container:hover .overlay {
  opacity: 1; /* Show the overlay on hover */
}

.overlayLibrary {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  );
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
}

.overlayLibrary:hover {
  opacity: 1;
}

.noresult {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: "red";
  border: "2px solid green";
}
/* .background-container::before {
  content: "";
  filter: blur(10px);
  z-index: -1;
} */

/* .heading {
   font-family: "Sharp Grotesk SmBold 20"; 
} */
