body {
  color: white;
  background-color: #000;
}
/* .row-poster {
  width: 100%;
  object-fit: contain;
  margin-right: 10px;
  max-height: 150px;
  transition: transform 550ms;
}
.row-posterLarge:hover {
  transform: scale(1.09);
}
.row-posterLarge {
  max-height: 250px;
} */
